<div style="position:fixed;top: 40%;left:0;background-color: red;" th:fragment="left_ad"
     th:if="${config.getCouplets()}">
    <img style="width: 200px" th:if="${config.getCouplets().getLeftAd()}"
         th:src="${config.getCouplets().getLeftAd().getPicUrl()}"/>
</div>
<div style="position:fixed;top: 40%; right:0;background-color: black;" th:fragment="right_ad"
     th:if="${config.getCouplets()}">
    <img style="width: 200px" th:if="${config.getCouplets().getLeftAd()}"
         th:src="${config.getCouplets().getLeftAd().getPicUrl()}"/>
</div>
