<html lang="zh-CN" style="font-size: 24.96px;"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<meta name="referrer" content="no-referrer" />-->
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="telephone=yes" name="format-detection">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="x5-fullscreen" content="true">
  <meta name="apple-touch-fullscreen" content="yes">
  <title>欧青联 里斯本竞技U19VS马赛U19|欧青联|10月12日|【在线直播】-515直播</title>
  <meta content="欧青联 里斯本竞技U19VS马赛U19" name="keywords">
  <meta content="10月12日《欧青联 里斯本竞技U19VS马赛U19》欧青联直播将在10:00准时在线直播，敬请关注。" name="description">
  <link rel="apple-touch-icon" href="http://www.515.tv/~static/www/img/app_logo@512.png?r=400">
  <link rel="shortcut icon" href="/faviconn.ico?r=17" type="image/x-icon">
  <script src="https://hm.baidu.com/hm.js?3a932706472a36e2ca6a40b1651fb7e5"></script><script type="text/javascript" src="http://www.515.tv/~static/www/js/jquery-1.9.1.min.js?r=17"></script>
  <link href="http://www.515.tv/~static/www/css/public.min.css?r=r1003" type="text/css" rel="stylesheet">
  <link href="http://www.515.tv/~static/www/css/public-color.min.css?r=r1003" type="text/css" rel="stylesheet">
  <link href="http://www.515.tv/~static/www/css/swiper.min.css?r=r1003" type="text/css" rel="stylesheet">
</head>
<body data-domainwww="http://www.515.tv/" data-domainstatic="http://www.515.tv/~static/" data-domainres="http://res.515.tv/~res" data-scoredisplay="1" id="blue">


<script>
  //rem
  window.onload=window.onresize=function(){
    document.documentElement.style.fontSize=document.documentElement.clientWidth*10/375+'px';
  }
</script>
<style type="text/css">
  #cnzz_stat_icon_1279756755{display: none}
</style>
<!-- <link rel="manifest" href="manifest.json"> -->
<header>
  <div class="head-main">
    <a class="head_main_img" href="http://www.515.tv/"><img src="http://www.515.tv/~static/www/img/logon.png?r=1" alt="515直播logo"></a>
    <div class="zhti_qiehuan_wrap">
      <p class="zhti_qiehuan_top">
        <span>蓝色主题</span>
        <img src="http://www.515.tv/~static/www/img/zhutx.png" style="transform: rotate(0deg);">
      </p>
      <ul class="zhti_qiehuan" show="0" style="display: none;">
        <li value="green">绿色主题</li>
        <li value="red">红色主题</li>
        <li value="yellow">黄色主题</li>
        <li value="blue">蓝色主题</li>
      </ul>
    </div>
    <div class="pc-app-box">
      <!-- <div class="word"><a href="http://www.515.tv/downApp" target="_blank"><i></i><span>APP下载</span></a>
          <div class="ewm"><em></em><img src="http://www.515.tv/~static/www/img/downewm.png?r=100"><span>扫码下载APP</span></div>
      </div> -->
      <div class="jifengbang jfhover">
        <a href="http://www.515.tv/paihang" target="_blank"><i></i><span>积分榜</span></a>
      </div>
    </div>
    <div class="wap_jfb">
      <p class="wap_jfb_dj">
        <a href="http://www.515.tv/paihang" target="_blank"><i></i><!-- <span>积分榜</span> --></a>
      </p>
    </div>
    <div class="jfqh_wrap">
      <a id="StranLink" name="StranLink" href="javascript:StranBody()" title="點擊以繁體中文方式浏覽">繁</a>
      <!-- <cite></cite>  -->
    </div>
    <!-- <div class="qhzt fl">
        <a href="javascript:zh_tran('s');" class="zh_click" id="zh_click_s">简</a>
        <a href="javascript:zh_tran('t');" class="zh_click" id="zh_click_t">繁</a>
    </div> -->
  </div>
</header>
<style>
  @media screen and (min-width:750px){.indexbtn{display:block}
    body{background: #191919!important;}
    footer{background:#fff!important;color:#7e7e7e; border-top:0px;}
    .main-two{background:#26262b!important;color:#ddd}

  }
  @media screen and (max-width: 750px) {
    .waplist{bottom: 10rem;}
    iframe{height:35rem;}
  }
  .waplist .indexwap{display:block}
  .biaoti{font-size:22px;font-weight:500;line-height:36px;padding-left:10px;width:96%;padding-top:16px}
  .totop{display:none}

</style>

<!--detail-->
<div class="zhuti bifeng_xq" bzwmf="34635cl2iNsvtc2m0U2O0O0O211" style="padding-bottom: 0px;">
  <div class="bifeng_zhishu">
    <div class="bifeng_switch" style="display: none;">
      <div class="bfonoff">
        <div isopen="false" class="btnn"></div>
      </div>
    </div>
    <div class="bifeng_zhishu_zhu" style="display: block;">
      <div class="bifeng_shuju">
        <p class="bs_fenl_sj bs_fenl_sj_new" style="display: none;">
          <span class="xq_fenlei_img"><img src="http://www.515.tv/~static/www/img/fenlei_1.png"> </span>
          <span class="xq_fenlei_name">欧青联&nbsp;&nbsp;22:00 </span>
        </p>
        <p class="bs_time"></p>
        <div class="bs_bt_title">
          <p class="weikan">  里斯本竞技U19<span>vs</span> 马赛U19<span>(欧青联)</span></p>
          <div class="yikaisai yikaisai_new" style="display: none;">
            <cite class="ks_zhumc">里斯本竞技U19</cite>
            <div class="ks_vs_new_wrap">
              <span class="bs_time_new" style="display: none;">未</span>
              <span class="ks_vs ks_vs_new"><em>0 : 0</em></span>
            </div>
            <cite class="ks_kemc">马赛U19</cite>
          </div>
        </div>
        <div class="bifeng_pei bifeng_pei_new" style="display: none;">
          <p class="zhu_peiqiu redyellow_p" style="display: block;">
            <span class="jiaoq"><i><img src="http://www.515.tv/~static/www/img/jiao.png"></i> <em class="no">0</em></span>
            <span class="redp"><i><img src="http://www.515.tv/~static/www/img/redpei.png"></i><em class="no">0</em></span>
            <span class="yellowp"><i><img src="http://www.515.tv/~static/www/img/yellow.png"></i><em class="no">0</em></span>
          </p>
          <!-- <p class="bs_befeng"></p> -->
          <p class="ke_peiqiu redyellow_p" style="display: block;">
            <span class="yellowp"><em class="no">0</em><i><img src="http://www.515.tv/~static/www/img/yellow.png"></i></span>
            <span class="redp"><em class="no">0</em><i><img src="http://www.515.tv/~static/www/img/redpei.png"></i></span>
            <span class="jiaoq"><em class="no">0</em><i><img src="http://www.515.tv/~static/www/img/jiao.png"></i> </span>
          </p>
        </div>


      </div>
    </div>

    <!--指数 begin-->
    <div class="zhulanzhishu">
      <div class="zhishu" style="color: rgb(186, 186, 186);">
        <div class="jscs_num oupei_z">
          <span>欧指</span>
          <p class="oz_num"><cite class="">1.2</cite><cite>6.0</cite><cite class="">12.0</cite></p>
          <p class="oz_fpan" style="display: none;"></p>
        </div>
        <div class="jscs_num yapan_z">
          <span>亚盘</span>
          <p class="oz_num"><cite class="">0.78</cite><cite>两球</cite><cite class="">1.02</cite></p>
          <p class="oz_fpan" style="display: none;"></p>
        </div>
        <div class="jscs_num daxiao_z">
          <span>大小盘</span>
          <p class="oz_num"><cite class="">0.9</cite><cite>3.5</cite><cite class="">0.9</cite></p>
          <p class="oz_fpan" style="display: none;"></p>
        </div>
      </div>
      <!--指数 end-->
    </div>
  </div>


  <div class="main-two">
    <h2 class="biaoti" data-matchtime="2022-10-12 22:00:00" data-aid="133249" data-catid="1">正在直播： 22:00 里斯本竞技U19 vs
      马赛U19（欧青联）</h2>
    <iframe src="http://www.515.tv/live/68" width="100%" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" style="background:transparent;"></iframe>
    <div class="signalcall">
      <input type="text" value="http://www.515.tv/live/68" id="linkInput" class="lianjie">
      <button id="copybtn">复制</button>
    </div>
  </div>
  <div class="mjtjbj">
    <div class="mjtj_qh_mk"><div class="charuad"><div class="guanbi_ad"><p class="gbad_wz">关闭广告</p><span class="gb_ad_an">×</span><div class="gbad_tishi"><p class="bottomtip">不再展示广告，刷新页面之后再重新展示</p></div></div><div class="tzpt_nav"><ul class="tabs"><li class="default" id="tzpt"><a href="javascript:void(0);" id="btn1" hidefocus="true">投注平台</a></li><li><a href="javascript:void(0);" id="btn2" hidefocus="true">名家推荐</a></li></ul></div><div class="swiper-container favor-list"><div class="swiper-wrapper" style="height: 0px; transition-duration: 0s;"><div class="swiper-slide problem_title"><div class="mjtj_lb"></div></div><div class="swiper-slide margin19"><div class="tzpt-list"><div class="mjtj"></div></div></div></div></div></div></div>
  </div>
</div>
<script type="text/javascript">
  var oTime;
  function copyNum() {
    var NumClip = document.getElementById("linkInput");
    var NValue = NumClip.value;

    var valueLength = NValue.length;
    selectText(NumClip, 0, valueLength);
    if (document.execCommand('copy', false, null)) {
      document.execCommand('copy', false, null)
      $('#copybtn').html('成功');
      //$('#copybtn').css({background:'#28b28b'});
      var oElem = $('#copybtn');
      oTime = setTimeout(function () {
        oElem.html('复制')
      }, 3000);
    } else {
      console.log("不兼容");
    }

  }
  function selectText(textbox, startIndex, stopIndex) {
    if (textbox.createTextRange) {//ie
      var range = textbox.createTextRange();
      range.collapse(true);
      range.moveStart('character', startIndex);//起始光标
      range.moveEnd('character', stopIndex - startIndex);//结束光标
      range.select();//不兼容苹果
    } else {//firefox/chrome
      textbox.setSelectionRange(startIndex, stopIndex);
      textbox.focus();
    }
  }
  $('#copybtn').click(function () {
    copyNum();
  })


</script>
<script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<div class="pcrlist">
  <div class="once appbtn hide">
    <i></i>
    <div class="hdiv"><p>925</p><p>APP</p></div>
  </div>
  <div class="indexbtn"><a href="/">
    <i></i>
    <span>回首页</span></a>
  </div>
  <div class="refreshbtn" onclick="location.reload()">
    <i></i>
    <span>刷新</span>
  </div>
  <div class="totop" onclick="window.scrollTo(0,0)">
    <i></i>
    <span>回顶部</span>
  </div>
</div>
<div class="iosKJ_nosafsai">
  <i class="close_safari"><img src="http://www.515.tv/~static/www/img/close.png?r=2"></i>
  <div class="smtp">
    <div class="copy_wz">
      <span>515直播：</span>
      <input id="taokouling" value="http://www.515.tv/" type="text" readonly="readonly">
      <button id="copyCode" class="btn" data-clipboard-target="#taokouling" data-clipboard-action="copy">点击复制</button>


    </div>
  </div>
</div>
<div class="fuzhi_ts" id="copy_zt">复制成功</div>
<!--非safari end-->

<div class="waplist">
  <!-- <div class="iosKJ-safari" id="safari">
      <span class="iosKJ-safari_w_img"></span>
  </div> -->
  <!--<div class="iosKJ-btn" style="display: none">-->
  <!--<span class="iosKJ-btn_w_img"></span>-->
  <!--</div>-->
  <div class="once indexwap">
    <a href="/">
      <i></i>
      <p>首页</p>
    </a>

  </div>
  <div class="once refreshwap" onclick="location.reload()">
    <i></i>
    <p>刷新</p>
  </div>
  <div class="once totop" onclick="window.scrollTo(0,0)">
    <i></i>
  </div>
</div>
<div class="footer-wap" style="position: static;">
  <p>515直播——体育直播网站</p>
  <p>免责声明：本平台所有直播信号源均实时采集于互联网并作测试用途，本站不生产、不制作任何信号。</p>
</div>
<div class="quwangapptg" style="display: none;">

</div>
<script type="text/javascript" src="http://www.515.tv/~static/www/js/clipboard.min.js?r=1"></script>
<footer style="position: static;">
  <div>
    <span>Copyright©2020 515直播</span><i></i>
    <p>免责声明：本平台所有直播信号源均实时采集于互联网并作测试用途，本站不生产、不制作任何信号。</p>
  </div>
  <script type="text/javascript">
    //旧
    if(/iPhone|iPod|iphone os|ipad/i.test(navigator.userAgent) && window.location.pathname.length<3 && window.navigator.standalone == false) {

    }else{

    }
    //		$('.iosKJ-btn').click(function(){
    //			$('.iosKJ').show();
    //		})
    $('.iosKJ p').click(function(){
      $('.iosKJ').hide();
    })
    $('.iosKJ').click(function(){
      $('.iosKJ').hide();
    })
    $('.iosKJ img').click(function(e){
      $('.iosKJ').show();
      e.stopPropagation ? e.stopPropagation() : e.cancelBubble = true;
    })
    if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
      $('.wap-app-box').show();
      $('.pc-app-box').hide();
      $(".quwangapptg").show();
    }else{
      $('.wap-app-box').hide();
      $(".quwangapptg").hide();
      $('.pc-app-box').show();
    }
    $('.close-p').click(function(){
      $('.wap-app-box').hide();
    })




    var dqurl=window.location.href
    /* if(dqurl.indexOf('#app') > -1){
        zmkjfs()
    }else{
        if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            var mb = myBrowser();
            if ("Safari" == mb) {
                $('.iosKJ-safari').hide();
                $('.iosKJ').hide();

            }else{
                $('.iosKJ-safari').show();
                $('.iosKJ').hide();

            }
        } else if (/(Android)/i.test(navigator.userAgent)) {
            $('.iosKJ').hide();
            $('.iosKJ-safari').hide();

        } else {
        };
    } */
    function zmkjfs(){
      if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
        var mb = myBrowser();
        if ("Safari" == mb) {
          $('.iosKJ-safari').hide();
          $('.iosKJ').show();

        }else{
          $('.iosKJ-safari').show();
          $('.iosKJ').hide();

        }
      } else if (/(Android)/i.test(navigator.userAgent)) {
        $('.iosKJ').hide();
        $('.iosKJ-safari').hide();

      } else {
      };


    }
    function myBrowser(){
      var ua = navigator.userAgent.toLowerCase();
      if (ua.indexOf('applewebkit') > -1 && ua.indexOf('mobile') > -1 && ua.indexOf('safari') > -1 &&
              ua.indexOf('linux') === -1 && ua.indexOf('android') === -1 && ua.indexOf('chrome') === -1 &&
              ua.indexOf('ios') === -1 && ua.indexOf('browser') === -1) {
        return "Safari";
      }
      else {
        return "noSafari";
      }
    }

    /* $('.iosKJ-safari').click(function(){
        $('.iosKJ_nosafsai').show();
    })
    $('.close_safari').on("click",function(){
        $('.iosKJ_nosafsai').hide();
    }) */

    /* var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e){
        $(".fuzhi_ts").show()
        document.getElementById('copy_zt').innerHTML = '复制成功';
        document.getElementById('taokouling').blur();
        setTimeout(function(){
            $(".fuzhi_ts").hide()
            $(".iosKJ").hide()
        },2000)
    });
    clipboard.on('error', function(e){
        document.getElementById('copy_zt').innerHTML = '复制失败，请长按复制';
        setTimeout(function(){
            $(".fuzhi_ts").hide()
            $(".iosKJ").hide()
        },2000)
    }); */
    /* if(("standalone" in window.navigator) && window.navigator.standalone){
        // If you want to prevent remote links in standalone web apps opening Mobile Safari, change 'remotes' to true
        var noddy, remotes = false;
        $(".quwangapptg").hide();
        $('#safari').hide()
        $('.iosKJ').hide();
        $('.iosKJ-safari').css("display","none");
        document.addEventListener('click', function(event) {
            noddy = event.target;
            // Bubble up until we hit link or top HTML element. Warning: BODY element is not compulsory so better to stop on HTML
            while(noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
                noddy = noddy.parentNode;
            }

            if('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes))
            {
                event.preventDefault();
                document.location.href = noddy.href;
            }

        },false);
    } */
  </script>
</footer>
<script type="text/javascript" src="http://www.515.tv/~static/www/js/common.min.js?r=711" data-cfasync="false"></script>
<script type="text/javascript" src="http://www.515.tv/~static/www/js/swiper.min.js?r=711" data-cfasync="false"></script>
<script type="text/javascript" src="http://www.515.tv/~static/www/js/idangerous.swiper.min.js?r=711" data-cfasync="false"></script>
<script type="text/javascript" src="http://www.515.tv/~static/www/js/detail_hd.min.js?s=1?r=711" data-cfasync="false"></script>
<script type="text/javascript" src="http://www.515.tv/~static/www/js/score_xq.min.js?s=1?r=711" data-cfasync="false"></script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?3a932706472a36e2ca6a40b1651fb7e5";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();


</script>


</body></html>