<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/><![endif]-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!--<meta name="referrer" content="no-referrer" />-->
    <meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=yes" name="format-detection">
    <meta content="white" name="apple-mobile-web-app-status-bar-style">
    <meta content="true" name="x5-fullscreen">
    <meta content="yes" name="apple-touch-fullscreen">
    <title th:text="${config.getBasis().getSiteName()}"></title>
    <meta name="keywords" th:content="${config.getBasis().getKeyWords()}">
    <meta name="description" th:content="${config.getBasis().getDescribe()}">
    <link href="http://www.515.tv/~static/www/img/app_logo@512.png?r=400" rel="apple-touch-icon">
    <link rel="shortcut icon" th:href="${config.getBasis().getLogo()}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/515/css/public.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/515/css/public-color.min.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/cmsapp.css}" type="text/css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>


<script>
    //rem
    window.onload = window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth * 10 / 375 + 'px';
    }
</script>

<div th:replace="~{header::head}"></div>

<a target="_blank" th:each="item:${config.getTopAd()}" th:href="${item.getUrl()}">
    <img th:src="${item.getPicUrl()}"
         th:style="'width:'+${item.getPicWidth()}+';+'+'height:'+ ${item.getPicHeight()}+';margin-bottom:2px;'+'margin-left: auto;margin-right: auto;'">
</a>

<div class="main">

    <marquee align=middle behavior=alternate direction=left style="font-size: 40px;"
             th:if="${config.getBasis().getAnnouncement()!=null && !config.getBasis().getAnnouncement().isEmpty()}"
             th:text="${config.getBasis().getAnnouncement()}"></marquee>
    <div class="top-div">
        <span class="newyearl"></span>
        <ul class="index-nav clearfix navindex">

                <li i-cbd-d="0" th:class="${#httpServletRequest.requestURI == '/'?'active':''}">
                    <a href="/" th:class="${#httpServletRequest.requestURI == '/'?'active':'no-active'}">
                        <i></i><span>热门</span>
                    </a>
                </li>


            <li class="" th:class="${#httpServletRequest.requestURI == '/football'?'active':''}">
                <a href="/football" th:class="${#httpServletRequest.requestURI == '/football'?'active':'no-active'}"><i></i><span>足球</span> </a></li>


                <li th:class="${#httpServletRequest.requestURI == '/basketball'?'active':''}"><a href="/basketball" th:class="${#httpServletRequest.requestURI == '/basketball'?'active':'no-active'}" ><i></i><span>篮球</span></a></li>


                <li i-cbd-d="3" th:class="${#httpServletRequest.requestURI=='/tiyu'?'active':''}"><a href="/tiyu" th:class="${#httpServletRequest.requestURI == '/tiyu'?'active':'no-active'}"><i></i><span>体育</span> </a></li>

        </ul>
        <span class="newyearr"></span>
    </div>

    <div th:insert="~{list::listFragment}"></div>
    <div class="iosKJ">
        <span class="iostipimg"></span>
        <p>×</p>
        <i></i>
    </div>
</div>

<div class="pcrlist">
    <div class="once appbtn hide">
        <i></i>
        <div class="hdiv"><p>925</p>
            <p>APP</p></div>
    </div>
    <div class="indexbtn"><a href="/static">
        <i></i>
        <span>回首页</span></a>
    </div>
    <div class="refreshbtn" onclick="location.reload()">
        <i></i>
        <span>刷新</span>
    </div>
    <div class="totop" onclick="window.scrollTo(0,0)" style="display: none;">
        <i></i>
        <span>回顶部</span>
    </div>
</div>
<div class="iosKJ_nosafsai">
    <i class="close_safari"><img src="http://www.515.tv/~static/www/img/close.png?r=2"></i>
    <div class="smtp">
        <div class="copy_wz">
            <span>515直播：</span>
            <input id="taokouling" readonly="readonly" type="text">
            <button class="btn" data-clipboard-action="copy" data-clipboard-target="#taokouling" id="copyCode">
                点击复制
            </button>


        </div>
    </div>
</div>
<div class="fuzhi_ts" id="copy_zt">复制成功</div>
<!--非safari end-->

<div class="waplist">
    <div class="once indexwap">
        <a href="/static">
            <i></i>
            <p>首页</p>
        </a>

    </div>
    <div class="once refreshwap" onclick="location.reload()">
        <i></i>
        <p>刷新</p>
    </div>
    <div class="once totop" onclick="window.scrollTo(0,0)" style="display: none;">
        <i></i>
    </div>
</div>


<div th:replace="~{footer::foot}"></div>

<div th:replace="~{base_ad::left_ad}"></div>
<div th:replace="~{base_ad::right_ad}"></div>
<div th:replace="~{../base/cms_base_ad}"></div>
</body>
<script>
    function close_float() {
        $('#float').hide();
    }
</script>
</html>

