<div class="index-div" th:fragment="listFragment" zssyhqz="64540cl2iNsvtc2m0U2O0O0O281"
     zssyhqzt="28121cl2iNsvtc2m0V2z252">
    <div class="list_wrap_one_wuy list_wrap list_wrap_one" style="display: block;" yn="1">
        <div class="list_content" th:if="${list}">


            <div th:each="item,count:${list}">
                <p class="date-p"


                   th:if="${(item.getIsTop().equals('0') && count.index==0) ||
                            (item.getIsTop().equals('0') && count.index!=0  &&
                             #dates.day(item.date) - #dates.day(list.get(count.index-1).date)!=0)}"
                   th:text="${#dates.format(item.date,'MM-dd')}"></p>
                <a th:class="${item.getIsTop().equals('1') ? 'clearfix zhiding':'clearfix'}"

                   th:href="'/bofang/?iframelink='+${item.iframeLink}">

                    <section class="clearfix jiabifeng" wuyd="">
                        <div class="changci" style="display: block;">
                            <cite class="noks">&nbsp;</cite></div>

                        <div class="bifeng">vs</div>
                        <div class="team zhudui zhudui_wuyd">
                            <span><img alt="" class="" th:src="${item.leftImg}"></span>
                            <p th:text="${item.leftName}">
                            </p>
                        </div>
                        <div class="center">
                            <p class="eventtime_wuy eventtime">
                            <span class="feleimg">
                                <img th:src="@{/515/img/fenlei_1.png}"/>
                            </span>
                                <span><em th:text="${item.gameName}"></em> <i
                                        style="white-space: nowrap; overflow: visible;"
                                        th:text="${item.date.before(#dates.createNow()) ? #dates.format(item.date,'HH:mm') : #dates.format(item.date,'MM-dd HH:mm')}">
                            </i> </span></p>
                            <p class="vsp">VS</p>
                            <p th:class="${item.date.before(#dates.createNow())}?'video zb_green':'video'"><i
                                    class="video-icon"></i>
                                <span>视频直播</span>
                            </p>
                        </div>
                        <div class="team kedui">
                            <span><img alt=""
                                       class=""
                                       th:src="${item.rightImg}"></span>
                            <p th:text="${item.rightName}"></p>
                        </div>
                    </section>
                </a>
            </div>

            <div class="clcik_more">点击加载更多</div>
            <div class="more_animate" style="display: none;">︾</div>
        </div>
        <div th:unless="${list}">
            <div class="list_wrap" style="display: block;" yn="0">
                <div class="list_content">
                    <div class="no-data">
                        <div class="zwsig"></div>
                        <p>当前暂无数据</p></div>
                </div>
                <div class="clcik_more">没有更多数据了</div>
                <div class="more_animate" style="display: none;">︾</div>
            </div>
        </div>
    </div>
</div>