
<a th:class="${item.getIsTop().equals('1') ? 'clearfix zhiding':'clearfix'}"
   th:each="item,count:${list}" id="item_list"
   th:href="'/bofang/?iframelink='+${item.iframeLink}">
    <section class="clearfix jiabifeng" wuyd="">
        <div class="changci" style="display: block;">
            <cite class="noks">&nbsp;</cite></div>

        <div class="bifeng">vs</div>
        <div class="team zhudui zhudui_wuyd">
            <span><img alt="" class="" th:src="${item.leftImg}"></span>
            <p th:text="${item.leftName}">
            </p>
        </div>
        <div class="center">
            <p class="eventtime_wuy eventtime">
                            <span class="feleimg">
                                <img th:src="@{/515/img/fenlei_1.png}"/>
                            </span>
                <span><em th:text="${item.gameName}"></em> <i
                        style="white-space: nowrap; overflow: visible;"
                        th:text="${item.date.before(#dates.createNow()) ? #dates.format(item.date,'HH:mm') : #dates.format(item.date,'MM-dd HH:mm')}">
                            </i> </span></p>
            <p class="vsp">VS</p>
            <p th:class="${item.date.before(#dates.createNow())}?'video zb_green':'video'"><i
                    class="video-icon"></i>
                <span>视频直播</span>
            </p>
        </div>
        <div class="team kedui">
                            <span><img alt=""
                                       class=""
                                       th:src="${item.rightImg}"></span>
            <p th:text="${item.rightName}"></p>
        </div>
    </section>
</a>