
<div class="biaolist jqqh_lb qtbdlb duo_quyu" style="display: block;">
    <ul class="biaotitle jifeng" id="dqlebiao_bt">
        <li>排名</li>
        <li class="qiudui">球队</li>
        <li>场次</li>
        <li>胜</li>
        <li>平</li>
        <li>负</li>
        <li>进球</li>
        <li>失球</li>
        <li class="redbj">积分</li>
    </ul>
    <div class="list_xq jifeng" id="dqlebiao">
        <ul class="biaonr" th:each="item:${items}">
            <li><span class="rankimg" th:text="${item.rank}"></span></li>
            <li class="qiudui" th:text="${item.team}"></li>
            <li th:text="${item.times}"></li>
            <li th:text="${item.win}"></li>
            <li th:text="${item.ping}"></li>
            <li th:text="${item.loss}"></li>
            <li th:text="${item.goal}"></li>
            <li th:text="${item.loss_goal}"></li>
            <li class="redbj" th:text="${item.point}"></li>
        </ul>
    </div>
</div>