<html>

<head>

    <link rel="stylesheet" th:href="@{/515/css/ranks.min.css}" type="text/css">

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/515/js/paihang.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{header.html::head}"></div>
<div class="main_jf">
    <div class="nav_one_fl">
        <p class="ss_fenglei_name">
            <span class="ss_fenglei_img"> </span><span>积分榜</span>
        </p>
        <div class="nav_tow" id="nav_tow_p">
            <ul class="fl ss_fl_list pc_ss_nav">
                <li class="navtow_hover" data-catid="1" data-comid="8" data-py="yingchao">英超</li>
                <li class="" data-catid="1" data-comid="23" data-py="xijia" onclick="xijia()">西甲</li>
                <li class="" data-catid="1" data-comid="21" data-py="yijia" onclick="yijia()">意甲</li>
                <li class="" data-catid="1" data-comid="22" data-py="dejia" onclick="dejia()">德甲</li>
                <li class="" data-catid="1" data-comid="24" data-py="fajia" onclick="fajia()">法甲</li>
                <li class="" data-catid="1" data-comid="208" data-py="zhongchao">中超</li>
                <li class="" data-catid="1" data-comid="605" data-py="yaguan">亚冠</li>
                <li class="" data-catid="1" data-comid="5" data-py="ouguan">欧冠</li>
                <li class="" data-catid="2" data-comid="1" data-py="nba">NBA</li>
                <li class="" data-catid="2" data-comid="2" data-py="cba">CBA</li>
            </ul>
        </div>
    </div>
    <div id="content" th:fragment="content">
        <div class="jf_list">
            <div class="jf_title_lb">
                <li class="jf_hover" data-catid="1" data-type="1" ht="jifenbang" style="display: list-item;">积分榜</li>
                <li class="" data-catid="1" data-type="2" ht="sheshoubang" style="display: list-item;">射手榜</li>
                <li data-catid="2" data-type="1" ht="jifenbang" style="display: none;">积分榜</li>
                <li data-catid="2" data-type="2" ht="gerenbang" style="display: none;">个人榜</li>
                <li data-catid="2" data-type="3" ht="shengfubang" style="display: none;">胜负榜</li>
            </div>
            <div class="jf_lb_list" id="content_child" th:fragment="content_child">

                <div class="biaolist jqqh_lb qtbdlb duo_quyu" style="display: block;">
                    <ul class="biaotitle jifeng" id="dqlebiao_bt">
                        <li>排名</li>
                        <li class="qiudui">球队</li>
                        <li>场次</li>
                        <li>胜</li>
                        <li>平</li>
                        <li>负</li>
                        <li>进球</li>
                        <li>失球</li>
                        <li class="redbj">积分</li>
                    </ul>
                    <div class="list_xq jifeng" id="dqlebiao">
                        <ul class="biaonr" th:each="item:${items}">
                            <li><span class="rankimg" th:text="${item.rank}"></span></li>
                            <li class="qiudui" th:text="${item.team}"></li>
                            <li th:text="${item.times}"></li>
                            <li th:text="${item.win}"></li>
                            <li th:text="${item.ping}"></li>
                            <li th:text="${item.loss}"></li>
                            <li th:text="${item.goal}"></li>
                            <li th:text="${item.loss_goal}"></li>
                            <li class="redbj" th:text="${item.point}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
