.flex {
    display: flex;
    align-items: center;
}
.live-main .live-inner {
    border-radius: 8px;
    background: #fff;
    padding: 10px 15px;
    margin-top: 10px;
}
.live-main .t-logo {
    width: 72px;
    height: 72px;
}
.live-main .f-left {
    margin-left: 10px;
}
.live-main .f-right {
    margin-right: 10px;
}
.live-main .match-info {
    height: 140px;
    border-radius: 8px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.live-main .match-info .match-team {
    justify-content: space-between;
    height: 100%;
    padding: 0 40px;
}
.live-main .match-info .match-head {
    font-size: 16px;
}
.live-main .match-info .score {
    font-size: 34px;
}
.live-main .match-info .matchNostart {
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 6px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}
.live-main .zuqiu-bg {
    background: url(../img/zqbg.jpg);
    background-size: 100%;
    background-position: center;
}
.live-main .lanqiu-bg {
    /*background: url(/Public/static/img/lqbg.png);*/
    background-size: 100%;
    background-position: center;
}
.signal-list {
    font-size: 20px;
    color: #dd4b39;
    margin: 10px 0;
    flex-wrap: wrap;
}
.signal-list .signal {
    display: inline-block;
    /*background: url(/Public/static/img/signal.svg) no-repeat;*/
    background-size: 100%;
    width: 34px;
    height: 34px;
    /*filter: drop-shadow(#dd4b39 999999px 0);*/
    transform: translateX(-999999px);
}
.signal-list button {
    font-size: 14px;
    color: #dd4b39;
    padding: 4px 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    border-radius: 4px;
}
.signal-list button:hover {
    background: #dd4b39;
    cursor: pointer;
    color: #fff;
}
.livebox {
    background: #fff;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.livebox .tab-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 54px;
    line-height: 54px;
}
.livebox .tab-list li {
    width: 140px;
    text-align: center;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}
.livebox .tab-list li:hover {
    color: #dd4b39;
    font-weight: bold;
}
.livebox .tab-list .tab-active span {
    font-weight: bold;
    color: #dd4b39;
    border-bottom: 6px solid #dd4b39;
    display: inline-block;
}
.tab-pannel .pannel-info {
    display: none;
    padding-top: 10px;
    position: relative;
}
.tab-pannel .pannel-info .section {
    padding: 0 24px;
}
.tab-pannel .liaotian-pannel {
    padding: 24px;
}
.tab-pannel .liaotian-pannel .warn {
    background-color: #fff8ea;
    font-size: 12px;
    color: #e6b95e;
    padding: 8px 10px;
}
.tab-pannel .liaotian-pannel .warn .notification {
    display: flex;
    align-items: center;
}
.tab-pannel .liaotian-pannel .warn .notification::before {
    content: '';
    display: inline-block;
    /*background: url(/Public/static/img/notify.svg) no-repeat;*/
    background-size: 100%;
    width: 16px;
    height: 16px;
    /*filter: drop-shadow(#e6b95e 999999px 0);*/
    transform: translateX(-999999px);
}
.tab-pannel .liaotian-pannel .join-tip {
    margin-top: 10px;
    margin-bottom: 100px;
    color: #333;
}
.tab-pannel .liaotian-pannel .send-box {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.11);
    padding: 5px 0;
}
.tab-pannel .liaotian-pannel .send-box input {
    outline: none;
    background: #f7f7f7;
    flex: 1;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-indent: 20px;
    margin-right: 30px;
    margin-left: 12px;
}
.tab-pannel .liaotian-pannel .send-box .sendBtn {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 12px;
    background: transparent;
    font-size: 34px;
    color: #dd4b39;
}
.tab-pannel .zhibo-info {
    padding: 24px;
}
.tab-pannel .zhibo-info p {
    font-size: 14px;
    line-height: 34px;
}
.tab-pannel .zhibo-info p span {
    color: #666;
}
.tab-pannel .zhibo-info .site-name {
    color: #dd4b39;
}
.livemstop {
    padding: 24px;
}
.livemstop h3 {
    display: flex;
    align-items: center;
}
.livemstop img.t-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.live-data-list {
    padding: 0 24px;
    text-align: center;
}
.live-data-list dt {
    display: flex;
    align-items: center;
    color: #999999;
    justify-content: space-between;
    border: 1px solid #e9e9e9;
    background: #eee;
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
}
.live-data-list dt > div {
    width: 100%;
    text-align: center;
    padding: 8px 0px 8px 4px;
}
.live-data-list .live-match-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}
.live-data-list .live-match-item:hover {
    background: #eee;
}
.live-data-list .live-match-item:last-child {
    border-bottom: none;
}
.live-data-list .live-match-item h3 {
    font-size: 14px;
    font-weight: normal;
}
.live-data-list .live-match-item > div {
    width: 100%;
    text-align: center;
    padding: 8px 0px 8px 4px;
}
.live-data-list .live-match-item .pan em,
.live-data-list .live-match-item .jin em {
    display: block;
}
.live-data-list .live-match-item .ban {
    color: #999;
}
.live-data-list .recent-vs {
    width: 100px !important;
    flex-shrink: 0;
}
