<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="true" name="x5-fullscreen">
    <meta content="yes" name="apple-touch-fullscreen">

    <title>详情页</title>
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <script src="https://unpkg.com/@videojs/http-streaming@3.1.0/dist/videojs-http-streaming.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script th:src="@{/emjdjd/js/public.js}"></script>

    <link th:href="@{/emjdjd/css/wap.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/emjdjd/css/matchList.css}" type="text/css" rel="stylesheet">
</head>
<body>
<th:block th:insert="~{mobile/header}"></th:block>
<th:block th:insert="~{ad/banner_ad}"></th:block>
<div class="live-content" style="width: 100%">
    <div class="live-main">
        <div class="live-inner">
            <div class="match-info zuqiu-bg" onclick="jumpToInfo(1,3863701);">
                <div class="flex match-team">
                    <div class="team home">
                        <img class="t-logo" th:src="${live_info.getData().getLeftImg()}" alt="">
                        <p th:text="${live_info.getData().getLeftName()}"></p>
                    </div>
                    <div>
                        <div class="match-head">
                            <strong th:if="${live_info.getData().getLeagueResult()}" th:text="${live_info.getData().getLeagueResult().getName_zh_abbr()}"></strong>
                            <time class="time" th:text="${#dates.format(live_info.getData().getMatchStartTime(),'MM-dd HH-mm')}"></time>
                        </div>
                        <div class="noLive">
                            <div class="matchNostart">上半场</div>
                        </div>
                        <p class="score">1-0</p>
                    </div>
                    <div class="team away">
                        <img class="t-logo" th:src="${live_info.getData().getRightImg()}" alt="济州联队">
                        <p th:text="${live_info.getData().getRightName()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="livebox pclivebox">
            <th:block th:insert="~{mobile/playing::playing}"/>
        </div>
    </div>
</div>
<th:block th:insert="~{mobile/footer}"></th:block>
</body>
</html>
