<div th:fragment="listFragment">

<ul class="live-list">
    <li class="item status-0" th:each="item,count:${list}">
        <a class="flex-between duizhen" href="/live/basketball/3886445" title="欧联杯 塞维利亚vs费内巴切">
            <div class="box-name">
                <div class="saishi">
                        <time class="time" th:text="${#dates.format(item.getMatchStartTime(),'HH:mm')}">
                    </time>
                    <span style="text-align: left">欧联杯</span>
                </div>
            </div>
            <div class="box-name" style="width: 50%;">
                <div class="lineup">
                    <img class="team-logo" th:src="${item.leftImg}" lazyload="lazy"
                         data-original="https://cdn.sportnanoapi.com/football/team/d20ed1da4f299cc3ef0e1e9eb06eced1.png"
                         style="display: inline;">
                    <span th:text="${item.leftName}"></span>
                </div>
                <div class="lineup">
                    <img class="team-logo" th:src="${item.rightImg}" lazyload="lazy"
                         data-original="https://cdn.sportnanoapi.com/football/team/dff00f1fd4a7dd2feac000b462416867.png"
                         style="display: inline;">
                    <span th:text="${item.rightName}"></span>
                </div>
            </div>
            <div class="box-name link" style="flex-direction: row;align-items: center;font-size: 80%;border-left: 1px solid #eee;margin-left: -20px;padding-left: 20px;">
                <img th:src="@{/emjdjd/img/gxz.png}" alt="video" style="width: 1.1em;margin-right: 2px;">
                <span style="color:#ff4d4d;">高清直播</span>
            </div>
        </a>
    </li>
</ul>

    <div id="load_more" style="text-align: center;color: #999;margin-top: -8px;background: #fff;padding: 13px 0"
         th:onclick="loadmore([[${cur_date}]],[[${listtype}]])" >
        查看更多
        <img th:src="@{/emjdjd/img/index_more.png}" alt="more" style="width: 1em;vertical-align: text-bottom;">
    </div>

    <script th:inline="javascript">
        var curPage=0
        function loadmore(date,list_type){
            curPage=curPage+1
            $.ajax({url:'/getData?date='+date+'&page='+(curPage)+'&live_type='+list_type+'&limit=50',dataType:"json",success:function (result) {
                    if (result.code === 20000) {
                        for(var item in result.data){
                            console.log(item)
                            $(".live-list").append(genTemplate(result.data[item]))
                        }
                    }else{
                        $("#load_more").text(result.msg)
                    }

                }})
        }

        function genTemplate(obj){
            return `<li class="item status-0">
        <a class="flex-between duizhen" href="/live/basketball/3886445" title="欧联杯 塞维利亚vs费内巴切">
            <div class="box-name">
                <div class="saishi">
                    <time class="time">${obj.matchStartTime.split(" ")[1].slice(0,-3)}</time>
                    <span style="text-align: left">欧联杯</span>
                </div>
            </div>
            <div class="box-name" style="width: 50%;">
                <div class="lineup">
                    <img class="team-logo" src="${obj.leftImg}" lazyload="lazy"
                         data-original="https://cdn.sportnanoapi.com/football/team/d20ed1da4f299cc3ef0e1e9eb06eced1.png"
                         style="display: inline;">
                    <span>${obj.leftName}</span>
                </div>
                <div class="lineup">
                    <img class="team-logo" src="${obj.rightImg}" lazyload="lazy"
                         data-original="https://cdn.sportnanoapi.com/football/team/dff00f1fd4a7dd2feac000b462416867.png"
                         style="display: inline;">
                    <span>${obj.rightName}</span>
                </div>
            </div>
            <div class="box-name link" style="flex-direction: row;align-items: center;font-size: 80%;border-left: 1px solid #eee;margin-left: -20px;padding-left: 20px;">
                <img src="/emjdjd/img/gxz.png" alt="video" style="width: 1.1em;margin-right: 2px;">
                <span style="color:#ff4d4d;">高清直播</span>
            </div>
        </a>
    </li>`
        }
    </script>
</div>
