<header th:fragment="head">
    <div class="header">
        <div id="head_vueArea" class="area"><a href="https://www.leisu.com" class="logo">
            <svg aria-hidden="true" class="icon svg-icon">
                <use xlink:href="#icon-leisutiyulogo"></use>
            </svg>
        </a>
            <div class="navList">
                <ul>
                    <li><a href="https://www.leisu.com" class="navLink active">首页</a></li>
                    <li><a href="https://www.leisu.com/world" class="navLink ">世界杯</a></li>
                    <li><a href="javascript:void(0);" class="navLink ">即时比分</a> <i
                            class="iconfont icon-arrow_down"></i>
                        <div class="menu_sec">
                            <div class="menu_li"><a href="https://live.leisu.com" target="_blank">足球比分</a> <span
                                    class="hot">HOT</span></div>
                            <div class="menu_li"><a href="https://live.leisu.com/lanqiu" target="_blank">篮球比分</a>
                                <span class="hot">HOT</span></div>
                            <div class="menu_li"><a href="https://live.leisu.com/wangqiu" target="_blank">网球比分</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:void(0);" class="navLink ">赛事推荐</a> <i
                            class="iconfont icon-arrow_down"></i>
                        <div class="menu_sec">
                            <div class="menu_li"><a href="https://www.leisu.com/guide" target="_blank">足球推荐</a>
                            </div>
                            <div class="menu_li"><a href="https://www.leisu.com/guide/lanqiu"
                                                    target="_blank">篮球推荐</a></div>
                        </div>
                    </li>
                    <li><a href="https://www.leisu.com/news" class="navLink ">资讯中心</a> <i
                            class="iconfont icon-arrow_down"></i>
                        <div class="menu_sec">
                            <div class="menu_li"><a href="https://www.leisu.com/news/catalog-zuqiu"
                                                    target="_blank">足球头条</a> <span class="hot">HOT</span></div>
                            <div class="menu_li"><a href="https://www.leisu.com/news/catalog-lanqiu" target="_blank">篮球头条</a>
                                <span class="hot">HOT</span></div>
                        </div>
                    </li>
                    <li><a href="https://www.leisu.com/data" class="navLink ">资料库</a> <i
                            class="iconfont icon-arrow_down"></i>
                        <div class="menu_sec">
                            <div class="menu_li"><a href="https://www.leisu.com/data/zuqiu"
                                                    target="_blank">足球资料库</a></div>
                            <div class="menu_li"><a href="https://www.leisu.com/data/lanqiu"
                                                    target="_blank">篮球资料库</a></div>
                        </div>
                    </li>
                    <li><a href="http://www.nami.com/" target="_blank" class="navLink">数据服务</a></li>
                    <li><a href="https://www.leisu.com/app" target="_blank" class="navLink ">APP下载</a></li>
                    <li><a href="https://hao.leisu.com/expert" target="_blank" class="navLink"><span class="position-r">自媒体</span></a>
                    </li>
                </ul>
            </div>
            <div class="loginwrap"><i class="iconfont icon-portrait"></i> <a class="btn-border login">登录</a> <a
                    rel="nofollow" href="https://www.leisu.com/user/register" class="btn-white active register">注册</a>
            </div>
            <div class="loggedwrap hide">
                <div class="before"><a rel="nofollow" href="https://www.leisu.com/user/coin"
                                       class="open-vip button">充值</a></div>
                <div class="user-name select-type-one">
                    <div class="user-ico"></div>
                    <span class="tip"><span class="name"></span> <i class="iconfont icon-arrow"></i> <i
                            class="iconfont border-triangle"></i></span>
                    <div class="down">
                        <ul>
                            <li><a href="https://www.leisu.com/user/pay" rel="nofollow" target="_blank">金币充值</a>
                            </li>
                            <li><a href="https://www.leisu.com/user/coin" rel="nofollow" target="_blank">雷速币充值</a>
                            </li>
                            <li><a href="https://www.leisu.com/user/profile" rel="nofollow" target="_blank">我的资料</a>
                            </li>
                            <li><a href="https://www.leisu.com/user/purchase-history" rel="nofollow" target="_blank">方案购买记录</a>
                            </li>
                            <li><a href="https://www.leisu.com/user/fav/zuqiu" rel="nofollow"
                                   target="_blank">我的收藏</a></li>
                            <li onclick="Login.loginOut()"><a>退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nwe-login" style="display: none;">
                <div class="login-bg"></div>
                <div id="login" class="login-area isHide">
                    <div class="closewind">
                        <svg aria-hidden="true" class="icon svg-icon">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </div>
                    <div class="xxkArea box_h">
                        <div class="flex1"></div>
                        <div class="lbtn xxk active">验证码登录</div>
                        <div class="rbtn xxk">账号密码登录</div>
                        <div class="flex1"></div>
                    </div> <!---->
                    <div class="ffoot box_h">
                        <div class="ffoot-l flex1">
                            <div class="radio"></div>
                            一个月内免登录
                        </div>
                        <div class="ffoot-r flex1">没有账号？<a>注册</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>