<html lang="zh-CN"
      style="font-size: 55.6533px;"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/><![endif]-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!--<meta name="referrer" content="no-referrer" />-->
    <meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=yes" name="format-detection">
    <meta content="white" name="apple-mobile-web-app-status-bar-style">
    <meta content="true" name="x5-fullscreen">
    <meta content="yes" name="apple-touch-fullscreen">
    <title th:text="${config.getBasis().getSiteName()}"></title>
    <meta name="keywords" th:content="${config.getBasis().getKeyWords()}">
    <meta name="description" th:content="${config.getBasis().getDescribe()}">
    <link href="http://www.515.tv/~static/www/img/app_logo@512.png?r=400" rel="apple-touch-icon">
    <link rel="shortcut icon" th:href="${config.getBasis().getLogo()}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/leisu/css/iconfont-dbc35eac87.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/leisu/css/indexhome-70a852de69.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/leisu/css/layout-80d6aecc09.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/leisu/css/new-login-8f6de63e97.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/leisu/css/swiper-e0d8024459.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/cmsapp.css}" type="text/css">
</head>
<body class="box">

<header>
    <div class="headerArea">
        <div class="header">
            <div class="area" id="head_vueArea"><a class="logo" href="">
                <svg aria-hidden="true" class="icon svg-icon">
                    <use xlink:href="#icon-leisutiyulogo"></use>
                </svg>
            </a>
                <div class="navList">
                    <ul>
                        <li><a class="navLink active" href="">首页</a></li>
                        <li><a class="navLink " href="">世界杯</a></li>
                        <li><a class="navLink " href="javascript:void(0);">即时比分</a> <i
                                class="iconfont"></i>
                            <div class="menu_sec">
                                <div class="menu_li"><a href="" target="_blank">足球比分</a> <span
                                        class="hot">HOT</span></div>
                                <div class="menu_li"><a href=""
                                                        target="_blank">篮球比分</a> <span class="hot">HOT</span></div>
                                <div class="menu_li"><a href=""
                                                        target="_blank">网球比分</a></div>
                            </div>
                        </li>
                        <li><a class="navLink " href="javascript:void(0);">赛事推荐</a> <i
                                class="iconfont"></i>
                            <div class="menu_sec">
                                <div class="menu_li"><a href="" target="_blank">足球推荐</a>
                                </div>
                                <div class="menu_li"><a href=""
                                                        target="_blank">篮球推荐</a></div>
                            </div>
                        </li>
                        <li><a class="navLink " href="">资讯中心</a> <i
                                class="iconfont"></i>
                            <div class="menu_sec">
                                <div class="menu_li"><a href="" target="_blank">足球头条</a>
                                    <span class="hot">HOT</span></div>
                                <div class="menu_li"><a href=""
                                                        target="_blank">篮球头条</a> <span class="hot">HOT</span></div>
                            </div>
                        </li>
                        <li><a class="navLink " href="">资料库</a> <i
                                class="iconfont"></i>
                            <div class="menu_sec">
                                <div class="menu_li"><a href=""
                                                        target="_blank">足球资料库</a></div>
                                <div class="menu_li"><a href=""
                                                        target="_blank">篮球资料库</a></div>
                            </div>
                        </li>
                        <li><a class="navLink" href="http://www.nami.com/" target="_blank">数据服务</a></li>
                        <li><a class="navLink " href="" target="_blank">APP下载</a></li>
                        <li><a class="navLink" href="" target="_blank"><span
                                class="position-r">自媒体</span></a></li>
                    </ul>
                </div>
                <div class="loginwrap"><i class="iconfont"></i> <a class="btn-border login">登录</a> <a
                        class="btn-white active register" href=""
                        rel="nofollow">注册</a></div>
                <div class="loggedwrap hide">
                    <div class="before"><a class="open-vip button" href=""
                                           rel="nofollow">充值</a></div>
                    <div class="user-name select-type-one">
                        <div class="user-ico"></div>
                        <span class="tip"><span class="name"></span> <i class="iconfont icon-arrow"></i> <i
                                class="iconfont border-triangle"></i></span>
                        <div class="down">
                            <ul>
                                <li><a href="" rel="nofollow" target="_blank">金币充值</a>
                                </li>
                                <li><a href="" rel="nofollow"
                                       target="_blank">雷速币充值</a></li>
                                <li><a href="" rel="nofollow"
                                       target="_blank">我的资料</a></li>
                                <li><a href="" rel="nofollow"
                                       target="_blank">方案购买记录</a></li>
                                <li><a href="" rel="nofollow"
                                       target="_blank">我的收藏</a></li>
                                <li onclick="Login.loginOut()"><a>退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nwe-login" style="display: none;">
                    <div class="login-bg"></div>
                    <div class="login-area isHide" id="login">
                        <div class="closewind">
                            <svg aria-hidden="true" class="icon svg-icon">
                                <use xlink:href="#icon-close"></use>
                            </svg>
                        </div>
                        <div class="xxkArea box_h">
                            <div class="flex1"></div>
                            <div class="lbtn xxk active">验证码登录</div>
                            <div class="rbtn xxk">账号密码登录</div>
                            <div class="flex1"></div>
                        </div> <!---->
                        <div class="ffoot box_h">
                            <div class="ffoot-l flex1">
                                <div class="radio"></div>
                                一个月内免登录
                            </div>
                            <div class="ffoot-r flex1">没有账号？<a>注册</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="clearfix-row">
    <div class="content">
        <div class="match-area" id="maps">
            <div class="match-bar index-model m-t-10">
                <div class="match-type">
                    <a class="more" href="https://live.leisu.com" rel="nofollow"
                       target="_blank">
                        <span>查看更多</span>
                        <i class="iconfont icon-more2"></i>
                    </a>
                    <span class="jdss">焦点直播</span> <a class="link active" href="/">全部</a>
                    <a class="link" href="/football">
                        足球</a> <a class="link" href="/basketball">

                    篮球</a></div>

                <div class="time-px">
                    <div class="index-model live">
                        <div class="match-lier" id="match_lier3822208" th:each="item,count:${list}">
                            <div class="match-label box_h">
                                <div class="icon-area"><i class="iconfont icon-event_goal"></i></div>
                                <div class="time">
                                    <canvas height="16" width="80"></canvas>
                                    <canvas height="16" width="80"></canvas>
                                </div>
                                <div class="eventname"><a class="link"
                                                          href="https://www.leisu.com/data/zuqiu/comp-469"
                                                          target="_blank" th:text="${item.gameName}"></a></div>
                                <div class="status start"><span class="">
                            <i class="iconfont icon-iconclock05 m-r-3 v-a-m"></i>72<span class="ap-code-dian">'</span>
                        </span></div>
                                <div class="home"><a class="links onhome" href="https://www.leisu.com/data/zuqiu/team-19758"
                                                     style="background-image: url(&quot;https://cdn.leisu.com/teamflag_s/9944d3cdb5e4543aff351771d23db374.png?imageMogr2/auto-orient/thumbnail/200x200>&quot;); background-size: 16px;"
                                                     target="_blank"><span
                                        class="name" th:text="${item.leftName}"></span></a></div>
                                <div class="td score"><a class="link" href="https://live.leisu.com/detail-3822208"
                                                         target="_blank">
                                    <canvas height="16" width="48"></canvas>
                                </a></div>
                                <div class="away"><a class="links onaway" href="https://www.leisu.com/data/zuqiu/team-12149"
                                                     style="background-image: url(&quot;https://cdn.leisu.com/teamflag_s/768a73b709b3d575de1e866486fbc360.png?imageMogr2/auto-orient/thumbnail/200x200>&quot;); background-size: 16px;"
                                                     target="_blank"><span
                                        class="name" th:text="${item.rightName}">自由队</span></a></div>
                                <div class="flex1"></div>
                                <div class="more"><!----> <a class="iconfont icon-next"
                                                             href="https://live.leisu.com/shujufenxi-3822208"
                                                             target="_blank"></a> <a class="iconfont icon-liveanimation"
                                                                                                href="https://live.leisu.com/detail-3822208"
                                                                                                target="_blank"
                                                                                                title="足球直播"></a>
                                </div>
                            </div>
                            <div class="info-label">
                                <div class="cont box_h">
                                    <div class="flex1"></div>
                                    <div class="tema_match_history">
                                        <div class="box_h line">
                                            <div class="win" style="width: 74px;"></div>
                                            <div class="pp" style="width: 55.5px;"></div>
                                            <div class="lose" style="width: 240.5px;"></div>
                                        </div>
                                        <div class="rank-area box_h">
                                            <div class="pm home_pm">
                                                <div class="num">11</div>
                                                <div class="txt">排名</div>
                                            </div>
                                            <div class="info">
                                                <div class="h3">两队交锋20次，主队<span class="ss">4</span>胜<span
                                                        class="pp">3</span>平<span class="ff">13</span>负
                                                </div>
                                                <div class="spf box_h">
                                                    <div class="flex1"></div>
                                                    <div class="home_zs"><span class="f"></span><span
                                                            class="f"></span><span
                                                            class="f"></span><span class="s"></span><span
                                                            class="f"></span><span
                                                            class="s"></span><!----><!----><!----><!----><!----><!---->
                                                        <!---->
                                                        <!----><!----></div>
                                                    <div class="zs">近6场走势</div>
                                                    <div class="away_zs"><span class="f"></span><span
                                                            class="p"></span><span
                                                            class="f"></span><span class="s"></span><span
                                                            class="p"></span><span
                                                            class="s"></span><!----><!----><!----><!----><!----><!---->
                                                        <!---->
                                                        <!----><!----></div>
                                                    <div class="flex1"></div>
                                                </div>
                                            </div>
                                            <div class="pm away_pm">
                                                <div class="num">4</div>
                                                <div class="txt">排名</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!----></div>
        </div>
    </div>
</div>

<div th:replace="~{../base/cms_base_ad}"></div>
</body>
<script>
    function close_float() {
        $('#float').hide();
    }
</script>
</html>
