<footer class="new_footer">
  <div class="foot_one">
    <div class="logoimg">
      <a href="/"><img th:src="@{/emjdjd/img/footer.png}" alt="体育直播"></a>
    </div>
    <div class="foot_nav">
      <ul>
        <li><a href="/">关于我们</a> | <a href="/">隐私协议</a> | <a href="/">免责声明</a> | <a href="/">联系我们</a> </li>
      </ul>
      <p>足球直播是国内最好的体育直播网站，主要提供足球直播、NBA直播，我们努力做最好的足球和NBA直播吧</p>
    </div>
  </div>
  <div class="foot_two">
    <p>网站声明：足球直播提供的部分足球直播,NBA直播,CBA直播,英超直播，西甲直播等信息转载于各大门户网站或媒体报刊,如有侵权,请及时联系足球直播,我们会在第一时间删除。同时足球直播上所登载广告均为广告客户的个人意 见及表达方式，和足球直播无任何关系，如有违反国家法律规定，足球直播有权随时予以删除，并保留与有关部门合作追究的权利。</p>
    <p>Copyright © <script language="JavaScript" type="text/JavaScript">var year="";mydate=new Date();myyear=mydate.getYear();year=(myyear >200) ?myyear :1900 + myyear;document.write(year);</script>2023 ET足球网 <a rel="nofollow" href="https://beian.miit.gov.cn/" target="_blank">赣ICP备19006969号-1</a> </p><div style="display:none"><script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="https://hm.baidu.com/hm.js?bb763d620656c0e7dd28869dc1198e59";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
  </div><p></p>
  </div>
</footer>