
<header class="header">
  <div class="logo-box">
    <div class="nav-box">
      <h1 class="logo">
        ET体育直播 <a href="/static" title="ET体育直播">
        <img th:src="@{/emjdjd/img/logo.png}" alt="ET足球网">
      </a>
      </h1>
      <nav class="nav">
        <ul>
          <li th:class="${not requestUrl.startsWith('/basketball') and not requestUrl.startsWith('/football')?'active':''}">
            <span class="nav-text"><a href="/" title="首页">首页</a></span>
          </li>
          <li th:class="${requestUrl.startsWith('/basketball')?'active':''}">
            <span class="nav-text"><a href="/basketball" title="篮球">篮球</a></span>
          </li>
          <li th:class="${requestUrl.startsWith('/football')?'active':''}">
            <span class="nav-text"><a href="/football" title="足球">足球</a></span>
          </li>
        </ul>
        <div class="button">
          <span class="active" onclick="t22s()">简</span>
          <span onclick="s22t()">繁</span>
        </div>
      </nav>
    </div>
  </div>
</header>
