<div th:fragment="listFragment">
  <div class="live-list">
    <li class="item status-0" th:each="item,count:${list}">
      <div class="time" th:text="${#dates.format(item.getMatchStartTime(),'yyyy-MM-dd HH:mm')}"></div>
      <div class="duizhen">
        <a class="flex live-link" href="/zuqiu/3855577" title="" target="_blank">
          <div class="f-right">
            <h3 th:text="${item.leftName}"></h3>
            <img class="team-logo" th:src="${item.leftImg}"
                 lazyload="lazy"
                 alt="" style="display: block;">
          </div>
          <div class="score-wrap">
            <span class="living" style="color: #f00;"></span>
            <strong class="score">0-1</strong>
          </div>
          <div class="f-left">
            <img class="team-logo" th:src="${item.rightImg}"
                 lazyload="lazy"
                 alt="" style="display: block;">
            <h3 th:text="${item.rightName}"></h3>
          </div>
        </a>
      </div>
      <dl>
        <dt>
          <a class="live-link" th:title="${item.gameName}" href="/zuqiu/">
            <h2 th:if="${item.getLeagueResult()}" th:text="${item.getLeagueResult().name_zh_abbr}"></h2>
          </a>
        </dt>
      </dl>
    </li>
  </div>
  <div th:if="${page_count>1}" style="display: flex;justify-content: center">
    <ul class="pagination">
      <li th:each="i: ${#numbers.sequence(1, page_count)}">
        <a th:href="${data_base_url}+'/'+${i}" th:text="${i}"></a>
      </li>
    </ul>
  </div>
  <style>
    ul.pagination {
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    ul.pagination li {display: inline;}
    ul.pagination li a.active {
      background-color: #4CAF50;
      color: white;
    }

    ul.pagination li a:hover:not(.active) {background-color: #ddd;}
    ul.pagination li a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
  </style>
</div>

