
<div class="live-list" th:fragment="listFragment">
  <li class="item status-0" th:each="item,count:${list}">
    <div class="time" th:text="${#dates.format(item.getDate(),'yyyy-MM-dd HH:mm')}"></div>
    <div class="duizhen">
      <a class="flex live-link" href="/zuqiu/3855577" title="沙特联 塞哈特海湾vs伊蒂哈德" target="_blank">
        <div class="f-right">
          <h3 th:text="${item.leftName}"></h3>
          <img class="team-logo" th:src="${item.leftImg}"
               lazyload="lazy"
               alt="塞哈特海湾" style="display: block;">
        </div>
        <div class="score-wrap">
          <span class="living" style="color: #f00;">直播中</span>
          <strong class="score">0-1</strong>
        </div>
        <div class="f-left">
          <img class="team-logo" th:src="${item.rightImg}"
               lazyload="lazy"
               alt="伊蒂哈德" style="display: block;">
          <h3 th:text="${item.rightName}"></h3>
        </div>
      </a>
    </div>
    <dl>
      <dt>
        <a class="live-link" title="沙特联" href="/zuqiu/">
          <h2>沙特联</h2>
        </a>
      </dt>
    </dl>
    <div class="live-btn">
      <a class="zhibo-name" href="/zuqiu/3855577" title="9球体育直播" target="_blank">
        9球体育直播 </a>
    </div>
  </li>
</div>
